{% extends 'base.html.twig' %}

{% block title %}Üzenet{% endblock %}

{% block body %}
    <h2 class="display-2 text-light my-5">Üzenet</h2>
    <div class="bg-light p-5 border border-dark mx-auto" style="max-width: 600px">
        <div class="row">
            <div class="col col-5">
                <h3 class="fs-4 mb-5">{{message.name}}</h3>
            </div>
            <div class="col">
                <p class="fs-5">{{message.email}}</p>
            </div>
            <hr>
        </div>
            <p>{{message.message}}</p>
            <a href="{{ path('message.index')}}" class="btn btn-primary">Vissza</a>
    </div>
{% endblock %}