{% extends "base.html.twig" %}

{% block body %}
	{% for message in app.flashes('success') %}
        <div class="alert alert-success mx-auto" style="max-width: 500px">
            {{ message}}
        </div>
    {% endfor %}
	<h1 class="display-1 text-light my-5">Develery Teszt Feladat</h1>

	<img class="mt-5" src="{{ asset('images/delevery_logo.png') }}" alt="Delevery logó" style="width: 80vw">

{% endblock %}
